.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.logo img {
    height: 50px;
}

.link{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}